<header class="w-full px-6 py-4 text-sm bg-white rounded-md shadow-md">
	<!-- ========== HEADER ========== -->

	<nav class="flex items-center justify-between w-ful" aria-label="Global">
		<ul class="flex items-center gap-4 icon-nav">
			<li class="relative xl:hidden">
				<a
					class="text-xl cursor-pointer icon-hover text-heading"
					id="headerCollapse"
					data-hs-overlay="#application-sidebar-brand"
					aria-controls="application-sidebar-brand"
					aria-label="Toggle navigation"
					href="javascript:void(0)"
				>
					<i class="relative ti ti-menu-2 z-1"></i>
				</a>
			</li>

			<li class="relative">
				<div
					class="hs-dropdown relative inline-flex [--placement:bottom-left] sm:[--trigger:hover]"
				>
					<a
						class="relative inline-flex text-gray-300 hs-dropdown-toggle hover:text-gray-500"
						href="#"
					>
						<i class="ti ti-bell-ringing text-xl relative z-[1]"></i>
						<div
							class="absolute inline-flex items-center justify-center text-white text-[11px] font-medium bg-blue-600 w-2 h-2 rounded-full -top-[1px] -right-[6px]"
						></div>
					</a>
					<div
						class="card hs-dropdown-menu transition-[opacity,margin] rounded-md duration hs-dropdown-open:opacity-100 opacity-0 mt-2 min-w-max w-[300px] hidden z-[12]"
						aria-labelledby="hs-dropdown-custom-icon-trigger"
					>
						<div>
							<h3 class="px-6 py-3 text-base font-semibold text-gray-500">
								Notification
							</h3>
							<ul class="flex flex-col list-none">
								<li>
									<a href="#" class="block px-6 py-3 hover:bg-gray-200">
										<p class="text-sm font-medium text-gray-500">
											Roman Joined the Team!
										</p>
										<p class="text-xs font-medium text-gray-400">
											Congratulate him
										</p>
									</a>
								</li>
								<li>
									<a href="#" class="block px-6 py-3 hover:bg-gray-200">
										<p class="text-sm font-medium text-gray-500">
											New message received
										</p>
										<p class="text-xs font-medium text-gray-400">
											Salma sent you new message
										</p>
									</a>
								</li>
								<li>
									<a href="#" class="block px-6 py-3 hover:bg-gray-200">
										<p class="text-sm font-medium text-gray-500">
											New Payment received
										</p>
										<p class="text-xs font-medium text-gray-400">
											Check your earnings
										</p>
									</a>
								</li>
								<li>
									<a href="#" class="block px-6 py-3 hover:bg-gray-200">
										<p class="text-sm font-medium text-gray-500">
											Jolly completed tasks
										</p>
										<p class="text-xs font-medium text-gray-400">
											Assign her new tasks
										</p>
									</a>
								</li>
								<li>
									<a href="#" class="block px-6 py-3 hover:bg-gray-200">
										<p class="text-sm font-medium text-gray-500">
											Roman Joined the Team!
										</p>
										<p class="text-xs font-medium text-gray-400">
											Congratulate him
										</p>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</li>
		</ul>
		<div class="flex items-center gap-4">
			<a
				href="#"
				class="text-base font-medium btn hover:bg-blue-700"
				aria-current="page"
				>Upgrade to Pro</a
			>
			<div
				class="hs-dropdown relative inline-flex [--placement:bottom-right] sm:[--trigger:hover]"
			>
				<a
					class="relative align-middle rounded-full cursor-pointer hs-dropdown-toggle"
				>
					<img
						class="object-cover rounded-full w-9 h-9"
						src="./assets/images/profile/user-1.jpg"
						alt=""
						aria-hidden="true"
					/>
				</a>
				<div
					class="card hs-dropdown-menu transition-[opacity,margin] rounded-md duration hs-dropdown-open:opacity-100 opacity-0 mt-2 min-w-max w-[200px] hidden z-[12]"
					aria-labelledby="hs-dropdown-custom-icon-trigger"
				>
					<div class="p-0 py-2 card-body">
						<a
							href="javscript:void(0)"
							class="flex gap-2 items-center font-medium px-4 py-1.5 hover:bg-gray-200 text-gray-400"
						>
							<i class="text-xl ti ti-user"></i>
							<p class="text-sm">My Profile</p>
						</a>
						<a
							href="javscript:void(0)"
							class="flex gap-2 items-center font-medium px-4 py-1.5 hover:bg-gray-200 text-gray-400"
						>
							<i class="text-xl ti ti-mail"></i>
							<p class="text-sm">My Account</p>
						</a>
						<a
							href="javscript:void(0)"
							class="flex gap-2 items-center font-medium px-4 py-1.5 hover:bg-gray-200 text-gray-400"
						>
							<i class="text-xl ti ti-list-check"></i>
							<p class="text-sm">My Task</p>
						</a>
						<div class="px-4 mt-[7px] grid">
							<a
								href="../../pages/authentication-login.html"
								class="btn-outline-primary font-medium text-[15px] w-full hover:bg-blue-600 hover:text-white"
								>Logout</a
							>
						</div>
					</div>
				</div>
			</div>
		</div>
	</nav>

	<!-- ========== END HEADER ========== -->
</header>
